@import "tailwindcss";

body {
  color: #111827;
  background-color: #f9fafb;
}

@media print {
  @page {
    margin: 1cm;
  }
  
  body {
    background-color: white;
  }
  
  .no-print {
    display: none !important;
  }
}